$primary-color: #4d4d4d;
$secondary-color: #E01E26;
$primary-dark-color: #000;

$iphone5-breakpoint-width: 320px; // <= iphone 5
$x-small-breakpoint-width: 576px; // > to mobile
$small-breakpoint-width: 768px; // >= tablet
$medium-breakpoint-width: 992px;
$large-breakpoint-width: 1200px;
$x-large-breakpoint-width: 1440px;
$mobile-medium-breakpoint-width: 350px;
$mobile-large-breakpoint-width: 411px;
$medium-material-breakpoint-width: 600px;

$primary-font: 'Tahoma';
$primary-font-Medium: 'Tahoma';