

<form [formGroup]="accountDetailsForm" (submit)="onFormSubmit(accountDetailsForm.value)">
  <div class="container">
    <div class="row c-card">
      <h2 class="col-12">Datos</h2>
      
      <div class="col-md-6 tw-input-box">
        <label>Nombre</label>
        <input name="name" formControlName="name"
              placeholder="Ejemmplo: Juan">
        <!-- <div class="error" *ngFor="let validation of validation_messages.name">
          <div class="error-message" *ngIf="accountDetailsForm.get('name').hasError(validation.type) && (accountDetailsForm.get('name').dirty || accountDetailsForm.get('name').touched)">{{validation.message}}</div>
        </div> -->
      </div>
      
      <div class="col-md-6 tw-input-box">
        <label>Apellidos</label>
        <input name="lastname" formControlName="lastname"
              placeholder="Ejemmplo: Juan">
        <!-- <div class="error" *ngFor="let validation of validation_messages.lastname">
          <div class="error-message" *ngIf="accountDetailsForm.get('lastname').hasError(validation.type) && (accountDetailsForm.get('lastname').dirty || accountDetailsForm.get('lastname').touched)">{{validation.message}}</div>
        </div> -->
      </div>
      
      <div class="col-md-6 tw-input-box">
        <label>Edad</label>
        <input name="age" formControlName="age"
              placeholder="Ejemmplo: Juan">
        <!-- <div class="error" *ngFor="let validation of validation_messages.age">
          <div class="error-message" *ngIf="accountDetailsForm.get('age').hasError(validation.type) && (accountDetailsForm.get('age').dirty || accountDetailsForm.get('age').touched)">{{validation.message}}</div>
        </div> -->
      </div>
      
      <div class="col-md-6 tw-input-box">
        <label>Fecha de nacimiento</label>


        <input  [matDatepicker]="picker"
                (click)="picker.open()" readonly placeholder="DD / MM / AAAA" formControlName="birthday">
        <mat-datepicker #picker></mat-datepicker>
        <!-- <div class="error" *ngFor="let validation of validation_messages.birthday">
          <div class="error-message" *ngIf="accountDetailsForm.get('birthday').hasError(validation.type) && (accountDetailsForm.get('birthday').dirty || accountDetailsForm.get('birthday').touched)">{{validation.message}}</div>
        </div> -->
      </div>

      <div class="col-12 tw-input-box message m-success" *ngIf="message_success">{{ message_success }}</div>
      <div class="col-12 tw-input-box message m-error" *ngIf="message_error">{{ message_error }}</div>

      

      <div class="col-12 tw-input-box tw-actions">
        <button type="submit">Registrar</button><div class="loading" *ngIf="loading"><img src="./../../assets/images/loading.svg"></div>
      </div>

    </div>
  </div>
</form>