.tw-actions {
    display: flex;
    button {
        padding: 10px;
        border: none;
        background: #E01E26;
        color: #fff;
        min-width: 200px;
        border-radius: 7px;
        cursor: pointer;
    }
}